langchain
langchain-community
langchain-openai
langchain-groq
langchain-text-splitters
langchain_huggingface
langchain_chroma

streamlit
python-dotenv
ipykernel

pypdf
bs4
arxiv
pymupdf
wikipedia

chromadb
faiss-cpu
duckdb
pandas
openai
huggingface_hub
numexpr

duckduckgo_search==5.3.1b1
youtube_transcript_api
unstructured
pytube

mysql-connector-python
SQLAlchemy
validators==0.28.1

transformers

